/*
  CSS Variables
*/

* {
  margin: 0;
}
:root {
  --todo: tomato;
  --inprogress: #512e71;
  --done: #ffd81a;
  --high: red;
  --medium: #a8761a;
  --low: #4acd4a;
}

img {
  width: 100%;
}

.navbar {
  background-color: #e3f2fd;
}
.fa.fa-edit {
  color: #18a2b9;
}

.list-group-item.delete:hover {
  cursor: -webkit-grab;
  background-color: pink;
}

.list-group-item.update:hover {
  background-color: gainsboro;
}

.list-group-item.board:hover {
  cursor: -webkit-grab;
  background-color: gainsboro;
}

.fa.fa-minus-circle {
  color: red;
}

.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

/*
  Form errors.
*/

.form-control,
select {
  border-radius: 20px !important;
}

.form-container p {
  opacity: 0;
  pointer-events: none;
  color: red;
  transform: translateX(-100px);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.form-container.error p {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.group-heading {
  display: inline-block;
  padding: 5px;
  font-size: 0.75rem;
  color: #fff;
  background: tomato;
  border-radius: 3px;
}
.project-board-container {
  background: #1f282e;
  padding: 20px 10px;
  min-height: 100vh;
}

.task-container {
  margin-bottom: 40px;
}

.task {
  background: #2d353b;
  display: flex;
  color: #ffffffa3;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  outline: 1px solid #613aaf2e;
  margin-bottom: 6px;

  .task-body {
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
      margin: 0 5px 0 0;
    }

    .status {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background: var(--low);
      margin-right: 15px;

      &.medium {
        background: var(--medium);
      }

      &.high {
        background: var(--high);
      }
    }
  }

  .task-actions {
    svg {
      margin: 0 4px;
      cursor: pointer;
    }
  }
}

.todo {
  background: var(--todo) !important;
}

.inprogress {
  background: var(--inprogress) !important;
}

.done {
  background: var(--done) !important;
}

.create-button {
  background-color: #a40606;
  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  padding: 10px 15px;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

  .text,svg {
    transition: transform 0.7s ease, opacity 0.3s ease;
  }

  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translateX(1000%);
  }
  
  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    transform-origin: 100% 0;
    transform: translateX(-5px);
    
    .text {
      transform: translateX(-500%);
      opacity: 0;
    }

    svg {
      transform: scale(2);
      
    }
  }
}

.page-container {
  padding: 20px;
  min-height: 90vh;
  background:  #1e1d24;
  color: white;

  &.single {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pill {
  background: #460a58;
  padding: 3px;
  max-width: 70px;
  letter-spacing: 0.9px;
  text-align: center;
}
